* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/bg.png") no-repeat center/cover;
}

