/* Centraliza tudo na tela */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/bg.png") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* Caixa principal do login */
.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


.container h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.container .input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 25px;
}

.input-field input::placeholder {
  color: #fff;
}

.input-field .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.container .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0 15px;
}

.recall-forget label input {
  accent-color: #fff;
  margin-right: 4px;
}

.recall-forget a {
  color: #fff;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.container button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-top: 10px;
}

.container .signup-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}

.signup-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p a:hover {
  text-decoration: underline;
}
